<div>
    <div class="submit-form">
      <div *ngIf="!salvo">
        <div class="form-group">
          <label for="matricula">Matricula</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            required
            [(ngModel)]="funcionario.matricula"
            name="matricula"
          />
        </div>
  
        <div class="form-group">
          <label for="nome">Nome</label>
          <input
            class="form-control"
            type="text"
            id="nome"
            required
            [(ngModel)]="funcionario.nome"
            name="nome"
          />
        </div>
  
        <div class="form-group">
          <label for="email">E-mail</label>
          <input
            class="form-control"
            type="text"
            id="email"
            required
            [(ngModel)]="funcionario.email"
            name="email"
          />
        </div>
  
        <div class="form-group">
          <label for="dataNascimento">Data Nascimento</label>
          <input
            type="date"
            class="form-control"
            id="dataNascimento"
            required
            [(ngModel)]="funcionario.dataNascimento"
            name="dataNascimento"
          />
        </div>
  
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input
            class="form-control"
            type="number"
            id="telefone"
            required
            [(ngModel)]="funcionario.telefone"
            name="telefone"
          />
        </div>
  
        <div class="form-group">
            <label for="genero">Gênero</label>
            <select class="form-select" aria-label="Default select example" [(ngModel)]="funcionario.genero">
                <option [ngValue]="null" disabled>Selecione</option>
                <option *ngFor="let genero of generos" [ngValue]="genero.value">{{genero.name}}</option>
            </select>
        </div>
  
        <div class="form-group">
            <label for="logradouro">Logradouro</label>
            <input
              class="form-control"
              type="text"
              id="logradouro"
              required
              [(ngModel)]="endereco.logradouro"
              name="logradouro"
            />
        </div>
        
        <div class="form-group">
            <label for="numero">Número</label>
            <input
              class="form-control"
              type="number"
              id="numero"
              required
              [(ngModel)]="endereco.numero"
              name="numero"
            />
        </div>
  
        <div class="form-group">
            <label for="complemento">Complemento</label>
            <input
              class="form-control"
              type="text"
              id="complemento"
              required
              [(ngModel)]="endereco.complemento"
              name="complemento"
            />
        </div>

        <div class="form-group">
            <label for="cep">CEP</label>
            <input
              class="form-control"
              type="text"
              id="cep"
              required
              [(ngModel)]="endereco.cep"
              name="cep"
            />
        </div>

        <div class="form-group">
            <label for="cidade">Cidade</label>
            <input
              class="form-control"
              type="text"
              id="cidade"
              required
              [(ngModel)]="endereco.cidade"
              name="cidade"
            />
        </div>

        <div class="form-group">
            <label for="bairro">Bairro</label>
            <input
              class="form-control"
              type="text"
              id="bairro"
              required
              [(ngModel)]="endereco.bairro"
              name="bairro"
            />
        </div>

        <button (click)="save()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="salvo">
        <h4>Funcionario Salvo com sucesso</h4>
        <button class="btn btn-success" (click)="newFuncionario()">Adicionar Novo Funcionário</button>
      </div>
    </div>
  </div>
  